openapi: 3.0.1
info:
  title: DatuChat API
  description: API for performing vector similarity searches over Wikipedia articles.
  version: '1.0.0'
servers:
  - url: https://datupedia.com
paths:
  /api/stringsearch:
    post:
      operationId: stringSearchFiltered
      summary: A function which provides relevant paragraphs from wikipedia.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StringSearchRequest'
      responses:
        "200":
          description: Search results
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StringSearchResponse'

components:
  schemas:
    StringSearchRequest:
      type: object
      required:
        - searchString
        - articleFilters
        - k
      properties:
        articleTitles:
          type: array
          items:
            type: string
          description: A list of 5-10 relevant Wikipedia article titles that will supplement information related to the query.
        searchString:
          type: string
          description: A string which answers the user's query with a comprehensive sentence approximately 50-100 words in length.
        k:
          type: integer
          description: Number of top documents to return.

    StringSearchResponse:
      type: object
      properties:
        documents:
          type: array
          items:
            $ref: '#/components/schemas/Document'

    Document:
      type: object
      properties:
        headings:
          type: array
          items:
            type: string
          description: Headings in the document.
        links:
          type: array
          items:
            type: string
          description: Links contained in the document.
        paragraph:
          type: string
          description: Paragraph text from the document.
        index:
          type: integer
          description: Index value of document.  
