:root {
  /* Set the width to be 80% of viewport width, but not exceeding 900px */
  --gradient-width: min(80vw, 500px);
}
body {
  background: linear-gradient(
    to right,
    #363339 0%,
    #4d4650 calc(50% - (var(--gradient-width) / 2)),
    #4d4650 calc(50% + (var(--gradient-width) / 2)),
    #363339 100%
  );

  font-family: Arial;
  margin: 0;
  line-height: 1.3;
  color: #f0f0f0;
}

h1 {
  font-size: 40px;
}

h1,
h2,
h3,
h4 {
  font-family: Georgia;
  font-weight: 300;
  text-align: center;
}

a {
  color: #ceb9e3;
  text-decoration: none;
}
p {
  color: #ffffffd1; /* Changes color of all <p> (paragraph) elements to a medium gray */
}
a:hover {
  text-decoration: underline;
}

footer {
  color: #ffffff;
}

li {
  color: #f0f0f0;
}

input {
  -webkit-appearance: none;
  box-sizing: border-box; /* This line ensures padding and border are inside the width */
  color: #f0f0f0;
  border-radius: 10px;
  border: 0px solid #ffffff00;
  font-family: Arial;
  background: #4d4650;
  padding: 12px;
  width: 100%;
  transition: width 0.3s ease-in-out;
  box-shadow:  5px 5px 5px -1px #363339,  -5px -5px 5px -1px #635866;
  text-align: center;
  margin-bottom: 10px;
}
input::placeholder {
  color: #f0f0f0; /* Replace #yourColorCode with the color you want */
}

input:focus {
  outline: none;
  box-shadow: inset 5px 5px 5px -1px #363339, inset -5px -5px 5px -1px #635866;
}


#pagename {
  color: #ffffff;
  font-family: Georgia;
}

button {
  background: #4d4650; /* Same as body background */
  color: #ffffffc0; /* Matching the anchor tag color */
  border: 1px solid #ccc; /* Similar to the search input border */
  padding: 10px;
  cursor: pointer;
  transition: background 0.3s ease; /* Smooth transition for hover effect */
}

button:hover {
  background: #504a50d5; /* Slightly lighter shade for hover */
  text-decoration: underline; /* Consistent with the anchor hover effect */
}

nav {
  display: flex;
  flex-direction: row;
  align-items: left;
  justify-content: left;
  margin-top: 20px;
}

#suggestionsList {
  list-style-type: none; /* Removes bullet points */
  padding: 10px;
  width: 100%;

  border: 1px solid #ccc; /* Adds a border */
  display: none; /* Hides the list by default */

  
}
#suggestions {
  list-style: none;
  padding: 0;
  margin: 0;
  display: none;
  border-radius: 10px;
  background-color: #4d4650; /* Change background color when hovered over the div */
  background: #4d4650;
  transition: width 0.3s ease-in-out;
  outline: none;
  box-shadow:   5px 5px 5px -1px #363339,  -5px -5px 5px -1px #635866;
  text-align: center;
  margin-bottom: 10px;
}
#suggestions li {
  padding: 5px;
  cursor: pointer;
  line-height: 1.6;
}
#suggestions li:hover {
  box-shadow:   7px 7px 7px -1px #363339,  -7px -7px 7px -1px #635866;
  text-align: center;
    border-radius: 10px;

}
/* Step 3: Add the styles */
.content-wrapper {
  display: flex;
  align-items: flex-start; /* Align items to the top */
  gap: 20px; /* Add a gap between flex items */
}

/* You might want to style or adjust the width of the elements inside for a better look */
header,
#status,
#pagename,
#suggestions {
  flex: 1; /* Make these take equal width */
}

.container {
  width: 80%;
  max-width: 500px;
  margin: 0 auto;
}
/* For very small screens, typically phones */
@media only screen and (max-width: 480px) {
  :root {
    --gradient-width: 90%;
  }

  .container {
    width: 90%; /* Use even more of the screen's width */
  }
  body {
    font-size: 18px;
  }

  h1,
  h2,
  h3,
  h4 {
    font-size: 1.5em; /* Adjust based on your design */
  }

  nav {
    flex-direction: column;
    align-items: flex-start;
    margin-top: 10px; /* Reduce some spacings for smaller screens */
  }

  .content-wrapper {
    flex-direction: column; /* Stack flex items vertically */
  }

  header,
  #status,
  #pagename,
  #suggestions {
    margin-bottom: 20px; /* Add some vertical spacing between stacked elements */
  }

  .container {
    width: 90%; /* Use a larger portion of the screen */
  }
}
